flask==3.0.3
spotipy==2.24.0
python-dotenv==1.0.1
requests==2.32.3
flask-compress==1.15
redis==5.0.4  # Cache e session storage
vercel-wsgi==1.1.0
flask-limiter==3.7.0
flask-cors==4.0.1
flask-talisman==1.1.0
flask-wtf==1.2.1
wtforms==3.1.2
python-json-logger==2.0.7
redis==5.0.4
flask-session==0.8.0
